h1 {
  text-align: left;
}

body {
  background-color: aqua;
}

button {
  text-align: left;
  padding: 0.5rem;
  background-color: black;
  color: white;
  margin-top: 0.5rem;
}

label, input {
  margin-left: 1rem;
}