body{
  background-color: bisque;
}

#divFilm{
  width: auto;
  background-color: aquamarine;
  padding: 2rem;
}

img{
  text-align: center;
  padding: 1rem;
}

label{
  font-size: 1.2rem;
}

button{
  width: 20%;
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
}

h1, h2, h3{
  text-align: center;
}

h1, h2, h3, label, input, button {
  margin-left: 1rem;
}