body{
  background-color: brown;
  color: antiquewhite;
}

table, th, td {
  border: 1px solid;
}

table{
  margin-top: 2em;;
}

button, input{
  padding: 0.5em;
}

#buscarDiv, #borrarDiv {
  display: none;
}

#success {
  color: antiquewhite;
  background-color: darkgreen;
  border-radius: 0.5em;
}

#search {
  color: antiquewhite;
  background-color: rgb(46, 96, 178);
  border-radius: 0.5em;
}

#cancel {
  color: antiquewhite;
  background-color:brown;
  border-radius: 0.5em;
}